/* Flexbox layout for the login page */
.login-student-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  max-width: 2000px;
  background-image: url(../assets/55.png);
  overflow: hidden; /* Hide overflow to prevent scrollbars */
  
}

.login-student-section {
  background: #ffffff; /* White background for the login section */
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 400px;
  text-align: center;
  opacity: 0;
  transform: translateY(-50px); /* Initial state for animation */
  animation: studentSlideIn 0.5s forwards; /* Slide-in animation */
  margin-right: 400px;
}



.login-student-image-block {
  margin-bottom: 20px;
}

.login-student-side-image {
  width: 100%;
  max-width: auto; /* Adjusted image size */
  border-radius: 5px;
  height: 100px;
}

.login-student-section h2 {
  width: 100%;
  max-width: auto; /* Adjusted image size */
  border-radius: 5px;
  height: 100px;
}

.login-student-input-container {
  margin-bottom: 20px;
}

.login-student-input-container input {
  width: 100%;
  padding: 9px;
  border: 1px solid #dddddd;
  border-radius: 5px;
  font-size: 1em;
  font-family: Arial, Helvetica, sans-serif;
}

.login-student-options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.login-student-options a {
  text-decoration: none;
  color: #007bff; /* Blue color for links */
  font-family: Arial, Helvetica, sans-serif;
}

.login-student-button,
.login-student-create-account-button {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.login-student-button {
  background-color: #e06b04; /* Green background color for login button */
  color: white;
  margin-bottom: 10px;
}

.login-student-create-account-button {
  background-color: #f58d06; /* Blue background color for create account button */
  color: white;
}

.login-student-button:hover,
.login-student-create-account-button:hover {
  opacity: 0.9;
}

.login-student-button:active,
.login-student-create-account-button:active {
  transform: translateY(1px);
}

@keyframes studentSlideIn {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
