.registration-form-container1 {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    color:black;
    background-image: url(../assets/images/HL_M04_05.jpg);
    background-size: cover;
    position:fixed;
  
  


  }
  
  .registration-form1 {
    padding: 10px;
    width: 555px;
    height: 460px;
    max-width: 900px;
    border-radius: 25px;
    box-shadow: 0 4px 8px rgba(120, 53, 54, 0.274);
    background-color: white;
    position: absolute;
    top: 72px;
    left: 365px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
}
  
  .registration-form-container1 h2 {
    margin-top:15px;
    font-size: 1.5rem;
    text-align: center;
  }
  
  .form-row1 {
    display: flex;
    justify-content: space-between;
    gap: 5px;
    margin-bottom:20px;
  }
  
  .form-group11 {
    flex: 1;
  }
  
  .form-group11 label {
    margin-top: 5px;
    
    display: block;
    font-weight: bold;
    text-align: start;
    font-size: small;
    margin-left:10px;
  }
  
  .form-group11 input {
    width: 90%;
    padding:4px;
    border: 1px solid #ddd;
    border-radius: 3px;
    justify-content:start;
  
    
  
}
  
  .gender-group1 {
    display: flex;
    flex-direction: column;
    
  }
  
  .gender-options1 {
    display: flex;
    justify-content: space-between;
    margin-top:5px;
    margin-bottom: 10px;
    
    
  }
  
  .gender-options1 label {

    display: flex;
    align-items: center;
    
  }
  
  .gender-options1 input {
    margin-right: 3px;
  }
  
  .registration-form1 button {
    width: 100%;
    padding: 7px;
    background:#3d27e4;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
    transition: background 0.3s;
  }
  
  .registration-form1 button:hover {
    background: #3a5ee1;
  }
  
  .sign-in-text1 {
    text-align: center;
    margin-top: 1rem;
  }
  
  .sign-in-text1 a {
    color: #0404e3;
    text-decoration: none;
  }
  
  .sign-in-text1 a:hover {
    text-decoration: underline;
  }
  .registration-form-container1 h2{
     top: 10px;
  }