/* src/components/Course.css */

.course {
  position: relative;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  cursor: pointer;
}

.course:hover {
  transform: translateY(-5px);
}

.course-image-container {
  position: relative;
}

.course-image {
  width: 100%;
  border-radius: 10px;
  transition: opacity 0.3s ease;
}

.course-hover-message {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  border-radius: 5px;
  opacity: 0;
  transition: opacity 0.3s ease;
  text-align: center;
  font-size: 1rem;
}

.course:hover .course-hover-message {
  opacity: 1;
}

.course-details {
  text-align: center;
  margin-top: 10px;
}

.course-title {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.course-description {
  color: #666666;
}
