/* src/components/CoursePopup.css */

.course-popup-overlay {
    position:sticky;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .course-popup {
    background: white;
    padding: 20px;
    border-radius: 10px;
    max-width: 600px;
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
    top: -1100px;
  }
  
  .course-popup-close {
    position: absolute;
    top: 30px;
    right: 10px;
    background: #ff0000;
    color: white;
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  
  .course-popup-image {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 10px;
  }
  
  .course-popup h2 {
    margin-top: 0;
  }
  
  .course-popup ul {
    padding-left: 20px;
    list-style: disc;
  }
  
  .course-popup li {
    margin-bottom: 5px;
  }
  