/* Container for the entire component */
.update-staff-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    max-width: 900px;
    box-shadow: 0 3px 6px rgba(12, 12, 12, 0.607);
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 5px;
    backdrop-filter: blur(100px);
    padding: 20px;
  }
  
  /* Styling for the main form container */
  .update-form-container {
    max-width: 700px;
    width: 500px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  /* Row styling for each input field */
  .form-row {
    width: 100%; /* Adjusted for full width */
    max-width: 450px;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  /* Label styling for form inputs */
  .form-label {
    width: 100%; /* Ensure the label takes full width for alignment */
    font-weight: bold;
    margin-bottom: 5px;
    color: black;
    text-align: left; /* Align label text to the left */
  }
  
  /* Input styling for text fields */
  .form-input {
    width: 100%; /* Adjusted to fit the container */
    max-width: 450px;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  /* Styling for the submit button */
  .submit-button {
    background-color: #007bff;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s;
    margin-top: 15px;
  }
  
  /* Submit button hover effect */
  .submit-button:hover {
    background-color: #0056b3;
  }
  
  /* Styling for the back button */
  .back-arrows {
    font-size: 24px; /* Adjust size as needed */
    cursor: pointer;
    color: #02060a; /* Adjust color as needed */
    margin-bottom: 20px;
    transition: color 0.3s; /* Add transition for hover effect */
    margin-left: 10px;
  }
  
  .back-arrow:hover {
    color: #0056b3; /* Adjust hover color as needed */
  }
  
  /* Centering heading text */
  .update-form h2 {
    text-align: center;
    margin-bottom: 20px;
    color: white;
    width: 100%;
  }
  
  /* Ensure proper alignment */
  .form-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  
  .form-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 20px;
  }
  
  .form-header h2 {
    margin-right: 100px; /* Space between header and back arrow */
  }
  